<div id="wrapper">
  <div class="user-box">
    <% flash.each do |key, value| %>
    <%= content_tag :p, value %>
    <% end %>

    <h1>Registration</h1>
    <%= form_for @users, method: :post do |u| %>
      <p>
        First Name: <%= u.text_field :first_name %>
      </p>
      <p>
        Last Name: <%= u.text_field :last_name %>
      </p>
      <p>
        Email: <%= u.email_field :email %>
      </p>
      <p>
        Location: <%= u.text_field :location %> State: <%= u.select :location_state, Event::STATES.keys, {include_blank: "-- Select --"} %>
      </p>
      <p>
        Password: <%= u.password_field :password %>
      </p>
      <p>
        Confirm Password: <%= u.password_field :password_confirmation %>
      </p>
      <p>
        <%= u.submit "Register" %>
      </p>
    <% end %>

    <h1>Login</h1>
    <form action="/sessions" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <p>
        <label for="email">Email:</label>
        <input type="text" name="email" value="">
      </p>
      <p>
        <label for="password">Password:</label>
        <input type="password" name="password" value="">
      </p>
      <p>
        <button type="submit" name="button">Log In</button>
      </p>
    </form>
  </div>
</div>

