<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
<%= flash[:alert] %>
<%= form_for @user, method: :patch do |f| %>
  <p>
    First Name: <%= f.text_field :first_name %>
  </p>
  <p>
    Last Name: <%= f.text_field :last_name %>
  </p>
  <p>
    Email: <%= f.text_field :email %>
  </p>
  <p>
    Location: <%= f.text_field :location %> State: <%= f.select :location_state, Event::STATES.keys, {include_blank: "-- Select --"} %>
  </p>
  <p>
    <%= f.submit "Update User" %>
  </p>
  <a href="/events#index">back</a>
<% end %>