<h1>Events</h1>
<h3>Hello <%= @user.first_name %> from <%= @user.location_state %></h3>

<h4>Here are some of the events in your state:</h4>
<table>
  <thead>
    <th>Name</th>
    <th>Date</th>
    <th>Location</th>
    <th>State</th>
    <th>Host</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% @events_by_state.each do |event_by_location|  %>
    <tr>
      <td><%= link_to "#{event_by_location.name}", event_path(event_by_location.id) %></td>
      <td><%= event_by_location.date.strftime("%b %d, %Y - %l:%M%p") %></td>
      <td><%= event_by_location.location %></td>
      <td><%= event_by_location.location_state %></td>
      <td><%= event_by_location.user.first_name %> <%= event_by_location.user.last_name %></td>
      <td>
        <% if event_by_location.user == current_user %>
          <a href="/events/<%= event_by_location.id %>/edit">Edit</a>
          <%= link_to 'Delete', event_by_location, method: :delete, data: {confirm: 'Are you certain'} %>
        <% elsif event_by_location.joins.where(user_id:session[:user_id], event_id:event_by_location.id) != [] %>
          Joining
          <%= link_to "Cancel", joins_path(user_id: session[:user_id], event_id: event_by_location.id), method: :delete %>

        <% else %>
          <%= link_to 'Join', joins_path(user_id: session[:user_id], event_id: event_by_location.id), method: :post %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h4>Here are all events:</h4>
<table>
  <thead>
    <th>Name</th>
    <th>Date</th>
    <th>Location</th>
    <th>State</th>
    <th>Host</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% @events.each do |event|  %>
    <tr>
      <td><%= link_to "#{event.name}", event_path(event.id) %></td>
      <td><%= event.date.strftime("%b %d, %Y - %l:%M%p") %></td>
      <td><%= event.location %></td>
      <td><%= event.location_state %></td>
      <td><%= event.user.first_name %> <%= event.user.last_name %></td>
      <td>
        <% if event.user == current_user %>
          <a href="/events/<%= event.id %>/edit">Edit</a> |
          <%= link_to 'Delete', event, method: :delete, data: {confirm: 'Are you certain'} %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>Other events go here</p>
<h3>Post a new Event!</h3>

<% flash.each do |key, value| %>
  <%= content_tag :p, value %>
<% end %>

<%= form_for @event, :url => { :action => "create"} do |f| %>
  <%= f.hidden_field :user_id, value: session[:user_id] %>
  <p>
    Event Name: <%= f.text_field :name %><br />
  </p>
  <p>
    location: <%= f.text_field :location %><br />
  </p>
  <p>
    State: <%= f.select :location_state, Events::Application::STATES.keys, {include_blank: "-- Select --"} %><br />
  </p>
  <p>
    Date: <%= f.datetime_select :date %><br />
  </p>
  <%= f.submit "Add Event" %>
<% end %>


